* 
{
    box-sizing: border-box;
}


body 
{
    background-image: url(sharkscoveBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#title 
{   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 120px;
    font-family: 'Jersey 10', sans-serif;
    font-weight: 375;
    color: #FFFFFF;
    width: 100%;

}

#contactListDiv
{
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 25px;
    background-color: #2727279c;
    border-radius: 10px;
}

#loginDiv
{
    display: flex;           
    flex-direction: column;  
    align-items: center; 
    gap: 5px;              
    max-width: 600px;
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 25px;
    background-color: #2727279c;
    border-radius: 10px;
}

#regDiv
{
    max-width: 600px;
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 25px;
    background-color: #2727279c;
    border-radius: 10px;
    font-family: 'Jersey 10', sans-serif;
    color: #FFFFFF;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 40%;
    margin: 5px;
    font-family: 'Jersey 10', sans-serif;
    background-color: #FFFFFF; 
    color: rgb(0, 0, 0); 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.buttons:hover{
    background-color: #2099cd4f; 
    color: #FFFFFF;
}

.submit-btn {
    background-color: #FFFFFF; 
    color: rgb(0, 0, 0); 
    padding: 5px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-family: 'Jersey 10', sans-serif;
    font-size: 25px;
}

.submit-btn:hover {
    background-color: #2099cd4f; 
    color: #FFFFFF;
}

#searchName
{
	font-size: 30px;
}
#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    display: block;
    margin: 5px auto;
    text-align: center;
    width: 80%;
    font-family: 'Inconsolata', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 40px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Jersey 10', sans-serif;
    color: #f1393f;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
